p {
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 52px;
}

h2 {
    font-size: 4rem;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

a {
    cursor: pointer;
}